{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{% if field.formattedValue.value == 1 %}
    <span class="badge badge-success">Principale</span>
{% else %}
    <span class="badge badge-warning">Annexe</span>
{% endif %}