{% extends 'base.html.twig' %}

{% block body %}
    <h1>Inscription</h1>
    {{ form_start(form) }}
        {{ form_rest(form) }}
        <button>S'inscrire</button>
    {{ form_end(form) }}
{% endblock %}