{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modifier mon mot de passe</h1>
    {{ form_start(form) }}
        {{ form_rest(form) }}
        <button>Modifier</button>
    {{ form_end(form) }}
{% endblock %}