{% extends 'base.html.twig' %}

{% block body %}
    <form method="post">
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <label for="email">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="email" autocomplete="email" required autofocus>
        <label for="password">Mot de passe</label>
        <input type="password" name="password" id="password" autocomplete="current-password" required>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <button type="submit">Se connecter</button>
    </form>
{% endblock %}