{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword) }}
    <button>S'inscrire</button>
    {{ form_end(form) }}
{% endblock %}

