<form (ngSubmit)="onSubmit()" [formGroup]="loginForm" class="form-login">
  <div *ngIf="loginForm.hasErrorAndDirty('violations')">
    <ul>
      <li *ngFor="let violation of loginForm.getError('violations')">{{ violation.message }}</li>
    </ul>
  </div>
  <input class="input-email" formControlName="email" type="email">
  <div *ngIf="loginForm.get('email').hasErrorAndDirty('required')">
    Ce champ est obligatoire
  </div>
  <div *ngIf="loginForm.get('email').hasErrorAndDirty('email')">
    L'adresse email n'est pas valide.
  </div>
  <input class="input-password" formControlName="password" type="password">
  <div *ngIf="loginForm.get('password').hasErrorAndDirty('required')">
    Ce champ est obligatoire
  </div>
  <button [disabled]="loginForm.invalid" class="form-submit" type="submit">Submit</button>
</form>
