{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{% if field.formattedValue.value == 1 %}
    <span class="badge badge-success">{{ field.formattedValue.name }}</span>
{% elseif field.formattedValue.value == 2 %}
    <span class="badge badge-warning">{{ field.formattedValue.name }}</span>
{% else %}
    <span class="badge badge-danger">{{ field.formattedValue.name }}</span>
{% endif %}