{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{% if ea.crud.currentAction == 'detail' %}
    <ul class="list-group">
        {% for quest in field.value %}
            {% set url = ea_url().setDashboard('App\\Admin\\Controller\\DashboardController').setController('App\\Admin\\Controller\\QuestCrudController').setAction('detail').setEntityId(quest.id) %}
            <li class="list-group-item">
                <a href="{{ url }}">{{ quest.name }}</a>
            </li>
        {% else %}
            <li class="list-group-item">Aucun quest</li>
        {% endfor %}
    </ul>
{% else %}
    <span class="badge badge-secondary">{{ field.formattedValue }}</span>
{% endif %}
