{% extends 'base.html.twig' %}

{% block body %}
    <ul>
        {% for path in paths %}
            <li><a href="{{ path('path_show', {id: path.id}) }}">{{ path.training.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}

