{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ training.name }}</h1>
    {% if is_granted('begin', training) %}
        <a href="{{ path('path_begin', {slug: training.slug}) }}">Commencer</a>
    {% endif %}
{% endblock %}

