{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ training.name }}</h1>
    {% if is_granted('begin', training) %}
        <a href="{{ path('path_begin', {slug: training.slug}) }}">Commencer</a>
    {% endif %}
    <ul>
        {% for course in courses %}
            <li><a href="{{ path('path_course', {slug: course.slug}) }}">{{ course.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}

