{% extends 'base.html.twig' %}

{% block body %}
    <ul>
        {% for training in trainings %}
            <li><a href="{{ path("path_training", {slug: training.slug}) }}">{{ training.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}