<form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
  <div *ngIf="registerForm.hasErrorAndDirty('violations')">
    <ul>
      <li *ngFor="let violation of registerForm.getError('violations')">{{ violation.message }}</li>
    </ul>
  </div>
  <input class="input-email" formControlName="email" type="email">
  <div *ngIf="registerForm.get('email').hasErrorAndDirty('required')">
    Ce champ est obligatoire
  </div>
  <div *ngIf="registerForm.get('email').hasErrorAndDirty('email')">
    L'adresse email n'est pas valide.
  </div>
  <input class="input-plainPassword" formControlName="plainPassword" type="password">
  <div *ngIf="registerForm.get('plainPassword').hasErrorAndDirty('required')">
    Ce champ est obligatoire
  </div>
  <div *ngIf="registerForm.get('plainPassword').hasErrorAndDirty('pattern')">
    Le mot de passe doit respecter les contraintes suivantes :<br/>
    - 8 caractères minimum <br/>
    - Au moins 1 majuscule <br/>
    - Au moins 1 minuscule <br/>
    - Au moins 1 caractère spécial <br/>
  </div>
  <button [disabled]="registerForm.invalid" class="form-submit" type="submit">Submit</button>
</form>
