<form (ngSubmit)="onSubmit()" [formGroup]="createPlayerForm">
  <div *ngIf="createPlayerForm.hasErrorAndDirty('violations')">
    <ul>
      <li *ngFor="let violation of createPlayerForm.getError('violations')">{{ violation.message }}</li>
    </ul>
  </div>
  <input class="input-name" formControlName="name" type="text">
  <div *ngIf="createPlayerForm.get('name').hasErrorAndDirty('required')">
    Ce champ est obligatoire
  </div>
  <button [disabled]="createPlayerForm.invalid" class="form-submit" type="submit">Submit</button>
</form>
